<html>
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Welcome!</title>
      {% endif %}

      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name="description" content="" />
      <meta name="keywords" content="" />
      <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
      <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="../js/skel.min.js"></script>
      <script src="../js/skel-panels.min.js"></script>
      <script src="../js/init.js"></script>
      <noscript>
        <link type="text/css" rel="stylesheet" href="../css/skel-noscript.css" />
        <link type="text/css" rel="stylesheet" href="../css/style.css" />
      </noscript>
      <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
      <!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->

      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47781877-4"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-47781877-4');
      </script>
    </head>
    <body>
        <!-- display content -->
        {% block content %}{% endblock %}
    </body>
</html>
