<html>
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Welcome!</title>
      {% endif %}
    </head>
    <body>
        <!-- display content -->
        {% block content %}{% endblock %}
        <!-- flash result of form submit-->
        {% with messages = get_flashed_messages() %}
              {% if messages %}
              <ul>
                  {% for message in messages %}
                  <li>{{ message }}</li>
                  {% endfor %}
              </ul>
              {% endif %}
              {% endwith %}
    </body>
</html>
