{% extends "base.html" %}

{% block content %}
    <h1>word+chef</h1>
    <h3>A wicked smaht thesaurus. Tyranno(the)saurus rex. Mama Mia oh my.</h3>
    <p>Choose proportions (amount1, etc. as numbers) of ingridients (word1, etc. as words) and mix them together!</p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.amount1.label }} {{ form.word1.label }}<br>
            {{ form.amount1(size=4)}} {{ form.word1(size=16) }}
        </p>
        <p>
            {{ form.amount2.label }} {{ form.word2.label }}<br>
            {{ form.amount2(size=4) }} {{ form.word2(size=16) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
