{% extends "base.html" %}

{% block content %}
<!-- Header -->
<div id="header">
  <div class="container">
    <!-- Logo -->
    <div id="logo">
    <h1><a href="#">word+chef</a></h1><br>
    <h3>A wicked smaht thesaurus. Tyranno(the)saurus rex. Mama Mia oh my.</h3>
    <p>Choose proportions (as numbers) of ingridients (as words) and mix them together!</p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.amount1(size=4)}} {{ form.word1(size=16) }}<br>
            {% for error in form.amount1.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {% for error in form.word1.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.amount2(size=4) }} {{ form.word2(size=16) }}<br>
            {% for error in form.amount2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {% for error in form.word2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
   </div>
  </div>
</div>
<!-- Header -->
{% endblock %}
