{% extends "base.html" %}

{% block content %}
<!-- Header -->
<div id="header">
  <div class="container">
    <!-- Logo -->
    <div id="logo">
    <h1>word+chef</h1>
    <br>
    <span>A mathematical thesaurus.</span>
    <p>Maps words to vectors using word2vec. Takes linear combination of wordvectors, then finds similar wordvectors by cosine similarity and returns corresponding words.</p>
    <p>Choose proprotions (numbers) of ingridients (words) and mix (add) them together.</p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.amount1(size=4)}} {{ form.word1(size=16) }}<br>
            {% for error in form.amount1.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {% for error in form.word1.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.amount2(size=4) }} {{ form.word2(size=16) }}<br>
            {% for error in form.amount2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {% for error in form.word2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.amount3(size=4) }} {{ form.word3(size=16) }}<br>
            {% for error in form.amount3.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {% for error in form.word3.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <!-- flash result of form submit-->
    {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
              {% for message in messages %}
              <li style="color: black;">{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
    {% endwith %}
   </div>
  </div>
</div>
<!-- Header -->
{% endblock %}
